
*~
/*-[0-9][0-9].xml
archive.json
draft-duke-quic-v2.xml
draft*.xml
*.html
lib
lib/
*.md~
metadata.min.js
*.pdf
*.redxml
.refcache
.refcache/*
report.xml
*.swp
.tags
.targets.mk
*.txt
*.un~
*.upload
venv/
lib
draft-ietf-shmoo-cancel-meeting.xml
